Title: Predicting tennis player rank categories based on the number of seasons active, prize money won, age, and height.

Background information:
Tennis rankings are determined based on the number of points a player has. Points are acquired by playing in tournaments. Winning higher-status tournaments, such as a Grand Slam, results in more points gained (2000). Winning tournaments also lets players earn prize money, where like points, winning a higher-status tournament gives more prize money. Higher-ranking players are therefore more likely to have earned more prize money. Additionally, players who have competed in more seasons have had more opportunities to win tournaments, possibly indicating that they have a higher ranking



Question: 
The question we will be exploring in this project is: Can we use known player statistics (number of seasons active, prize money, age, and height) of the top 500 players to predict which category rank a future player will reside i? 

To answer this question we will be using the “Player Stats for the Top 500 Players” data frame whi ch provides statistics on each top player such as age, height, number of seasons active, and current ra


Variables:

We will be using the number of seasons a player has played in, how much prize money they've won, the age of the player, and the height of the player.


ayer
nk.
.

In [9]:
library(repr)
library(tidyverse)
library(tidymodels)
library(readxl)
library(janitor)

Attaching package: ‘janitor’


The following objects are masked from ‘package:stats’:

    chisq.test, fisher.test

In [11]:
tennis_data <- read_csv("Data/player_stats.csv")

tennis_df <- tennis_data |>
    clean_names() |>
    select(age, current_rank, prize_money, height, seasons) |>
    
tennis_df

New names:
• `` -> `...1`
Rows: 500 Columns: 38
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (25): Age, Country, Plays, Wikipedia, Current Rank, Best Rank, Name, Bac...
dbl (13): ...1, Turned Pro, Seasons, Titles, Best Season, Retired, Masters, ...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

    age             current_rank
1   26 (25-04-1993) 378 (97)
2   18 (22-12-2001) 326 (119)
3   32 (03-11-1987) 178 (280)
4   21 (29-05-1998) 236 (199)
5   27 (21-10-1992) 183 (273)
6   22 (11-02-1997) 31 (1398)
7   28 (18-11-1991) 307 (131)
8   21 (12-05-1998) 232 (205)
9   25 (29-07-1994) 417 (81)
10  20 (02-04-1999) 104 (534)
11  19 (08-08-2000) 22 (1701)
12  23 (11-02-1996) 4 (5960)
13  28 (28-11-1991) 148 (359)
14  23 (22-02-1996) 431 (74)
15  28 (17-03-1991) 134 (411)
16  31 (23-09-1988) 121 (460)
17  24 (26-04-1995) 375 (99)
18  22 (02-05-1997) 133 (411)
19  20 (31-08-1999) 54 (959)
20  22 (28-10-1997) 34 (1335)
21  33 (12-04-1986) 130 (417)
22  32 (07-10-1987) 45 (1100)
23  30 (20-09-1989) 105 (528)
24  30 (30-08-1989) 172 (294)
25  30 (29-11-1989) 293 (138)
26  22 (23-03-1997) 339 (115)
27  26 (14-09-1993) 448 (69)
28  30 (12-11-1989) 123 (442)
29  21 (19-02-1998) 388 (93)
30  32 (24-05-1987) 12 (2310)
⋮   ⋮               ⋮
471 23 (12-01-1997) 210 (226)
472 24 (07-02-1995) 493 (61)
473 28 (13-11-1991) 167 (302)
474 34 (17-06-1985) 179 (279)
475 26 (29-06-1993) 298 (136)
476 21 (27-11-1998) 485 (63)
477 25 (21-09-1994) 353 (110)
478 24 (05-05-1995) 289 (140)
479 25 (24-08-1994) 486 (63)
480 18 (03-08-2001) 360 (107)
481 27 (27-10-1992) 207 (233)
482 23 (03-10-1996) 365 (105)
483 29 (16-10-1990) 351 (110)
484 26 (17-01-1994) 334 (116)
485 22 (20-01-1998) 50 (1050)
486 32 (14-01-1988) 260 (172)
487 23 (03-05-1996) 429 (75)
488 24 (27-09-1995) 71 (797)
489 24 (04-07-1995) 103 (534)
490 18 (08-08-2001) 299 (135)
491 28 (12-07-1991) 292 (138)
492 26 (28-07-1993) 324 (120)
493 31 (20-01-1989) 310 (128)
494 32 (19-10-1987) 416 (81)
495 20 (31-01-1999) 397 (89)
496 20 (13-04-1999) 382 (95)
497 26 (03-09-1993) 5 (5890)
498 23 (14-03-1996) 495 (60)
499 24 (17-05-1995) 419 (81)
500 22 (26-03-1997) 451 (69)
    prize_money                                     height seasons
1   NA                                              NA     NA
2   $59,040                                         NA     NA
3   US$3,261,567                                    185 cm 14
4   $374,093                                        NA      2
5   US$6,091,971                                    193 cm 11
6   $1,517,157                                      NA      5
7   $278,709                                        NA      1
8   $59,123                                         NA      1
9   $122,734                                        NA      5
10  US$74,927                                       NA      3
11  US$1,893,476                                    NA      3
12  US$ 10,507,693                                  NA      5
13  $303,458                                        NA      8
14  $54,004                                         NA     NA
15  US$439,427                                      NA      5
16  US$25,889,586  11th all-time leader in earnings 198 cm 14
17  NA                                              NA     NA
18  US$507,297                                      NA      2
19  $1,285,541                                      NA      3
20  US$2,722,314                                    NA      6
21  $10,821,168                                     190 cm 14
22  US$11,912,152                                   198 cm 15
23  $898,701                                        180 cm  7
24  $184,328                                        NA      1
25  $158,269                                        NA      7
26  $87,942                                         NA     NA
27  $32,892                                         NA      1
28  $631,094                                        NA      3
29  NA                                              NA     NA
30  US$13,470,614                                   178 cm 16
⋮   ⋮                                               ⋮      ⋮
471 $150,833                                        NA      2
472 NA                                              NA     NA
473 US$484,561                                      NA      3
474 $8,918,917                                      183 cm 16
475 $105,238                                        NA      1
476 NA                                              NA     NA
477 NA                                              NA     NA
478 $108,984                                        NA     NA
479 NA                                              NA     NA
480 $31,170                                         NA     NA
481 $310,368                                        NA      2
482 $69,581                                         NA     NA
483 $185,586                                        NA     NA
484 NA                                              NA     NA
485 US$3,304,117                                    NA      7
486 $2,013,015                                      NA     11
487 NA                                              NA     NA
488 $1,703,096                                      NA      7
489 US$414,637                                      NA      4
490 $12,756                                         NA      2
491 US$1,048,314                                    NA      7
492 US$ 132,871                                     NA      8
493 $178,317                                        NA      5
494 $354,975                                        NA      3
495 $40,724                                         NA      1
496 $57,943                                         NA     NA
497 $22,132,368 15th all-time leader in earnings    185 cm 10
498 NA                                              NA     NA
499 NA                                              NA     NA
500 $61,984                                         NA      2