Title: Predicting tennis player rank categories based on the number of seasons active, prize money won, age, and height.

Background information:
Tennis rankings are determined based on the number of points a player has. Points are acquired by playing in tournaments. Winning higher-status tournaments, such as a Grand Slam, results in more points gained (2000). Winning tournaments also lets players earn prize money, where like points, winning a higher-status tournament gives more prize money. Higher-ranking players are therefore more likely to have earned more prize money. Additionally, players who have competed in more seasons have had more opportunities to win tournaments, possibly indicating that they have a higher ranking



Question: 
The question we will be exploring in this project is: Can we use known player statistics (number of seasons active, prize money, age, and height) of the top 500 players to predict which category rank a future player will reside i? 

To answer this question we will be using the “Player Stats for the Top 500 Players” data frame whi ch provides statistics on each top player such as age, height, number of seasons active, and current ra


Variables:

We will be using the number of seasons a player has played in, how much prize money they've won, the age of the player, and the height of the player.


ayer
nk.
.

In [1]:
library(repr)
library(tidyverse)
library(tidymodels)
library(readxl)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.3     ✔ readr     2.1.4
✔ forcats   1.0.0     ✔ stringr   1.5.0
✔ ggplot2   3.4.4     ✔ tibble    3.2.1
✔ lubridate 1.9.3     ✔ tidyr     1.3.0
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors
── Attaching packages ────────────────────────────────────── tidymodels 1.1.1 ──

✔ broom        1.0.5     ✔ rsample      1.2.0
✔ dials        1.2.0     ✔ tune         1.1.2
✔ infer        1.0.5     ✔ workflows    1.1.3
✔ modeldata    1.2.0     ✔ workflowsets 1.0.1
✔ parsnip      1.1.1     ✔ yardstick    1.2.0
✔ recipes      1.0.8

── Conflicts ───────────────────────────────────────── tidymodels_conflicts() ──
✖ scales::discard() masks purrr::discard()
✖ dplyr::filter()   masks stats::filter()
✖ recipes::fixed()  masks stringr::fixed()
✖ dplyr::lag()      masks stats::lag()
✖ yardstick::spec() masks readr::spec()
✖ recipes::step()   masks stats::step()
• Learn how to get started at https://www.tidymodels.org/start/

In [7]:
tennis_data <- read_csv("Data/player_stats.csv", col_names = FALSE)

tennis_select <- tennis_data |>
    select(X2, X6, X10, X11, X14)
tennis_select

Rows: 501 Columns: 38
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (37): X2, X3, X4, X5, X6, X7, X8, X9, X10, X11, X12, X13, X14, X15, X16,...
dbl  (1): X1

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

    X2              X6
1   Age             Current Rank
2   26 (25-04-1993) 378 (97)
3   18 (22-12-2001) 326 (119)
4   32 (03-11-1987) 178 (280)
5   21 (29-05-1998) 236 (199)
6   27 (21-10-1992) 183 (273)
7   22 (11-02-1997) 31 (1398)
8   28 (18-11-1991) 307 (131)
9   21 (12-05-1998) 232 (205)
10  25 (29-07-1994) 417 (81)
11  20 (02-04-1999) 104 (534)
12  19 (08-08-2000) 22 (1701)
13  23 (11-02-1996) 4 (5960)
14  28 (28-11-1991) 148 (359)
15  23 (22-02-1996) 431 (74)
16  28 (17-03-1991) 134 (411)
17  31 (23-09-1988) 121 (460)
18  24 (26-04-1995) 375 (99)
19  22 (02-05-1997) 133 (411)
20  20 (31-08-1999) 54 (959)
21  22 (28-10-1997) 34 (1335)
22  33 (12-04-1986) 130 (417)
23  32 (07-10-1987) 45 (1100)
24  30 (20-09-1989) 105 (528)
25  30 (30-08-1989) 172 (294)
26  30 (29-11-1989) 293 (138)
27  22 (23-03-1997) 339 (115)
28  26 (14-09-1993) 448 (69)
29  30 (12-11-1989) 123 (442)
30  21 (19-02-1998) 388 (93)
⋮   ⋮               ⋮
472 23 (12-01-1997) 210 (226)
473 24 (07-02-1995) 493 (61)
474 28 (13-11-1991) 167 (302)
475 34 (17-06-1985) 179 (279)
476 26 (29-06-1993) 298 (136)
477 21 (27-11-1998) 485 (63)
478 25 (21-09-1994) 353 (110)
479 24 (05-05-1995) 289 (140)
480 25 (24-08-1994) 486 (63)
481 18 (03-08-2001) 360 (107)
482 27 (27-10-1992) 207 (233)
483 23 (03-10-1996) 365 (105)
484 29 (16-10-1990) 351 (110)
485 26 (17-01-1994) 334 (116)
486 22 (20-01-1998) 50 (1050)
487 32 (14-01-1988) 260 (172)
488 23 (03-05-1996) 429 (75)
489 24 (27-09-1995) 71 (797)
490 24 (04-07-1995) 103 (534)
491 18 (08-08-2001) 299 (135)
492 28 (12-07-1991) 292 (138)
493 26 (28-07-1993) 324 (120)
494 31 (20-01-1989) 310 (128)
495 32 (19-10-1987) 416 (81)
496 20 (31-01-1999) 397 (89)
497 20 (13-04-1999) 382 (95)
498 26 (03-09-1993) 5 (5890)
499 23 (14-03-1996) 495 (60)
500 24 (17-05-1995) 419 (81)
501 22 (26-03-1997) 451 (69)
    X10                                             X11    X14
1   Prize Money                                     Height Seasons
2   NA                                              NA     NA
3   $59,040                                         NA     NA
4   US$3,261,567                                    185 cm 14
5   $374,093                                        NA     2
6   US$6,091,971                                    193 cm 11
7   $1,517,157                                      NA     5
8   $278,709                                        NA     1
9   $59,123                                         NA     1
10  $122,734                                        NA     5
11  US$74,927                                       NA     3
12  US$1,893,476                                    NA     3
13  US$ 10,507,693                                  NA     5
14  $303,458                                        NA     8
15  $54,004                                         NA     NA
16  US$439,427                                      NA     5
17  US$25,889,586  11th all-time leader in earnings 198 cm 14
18  NA                                              NA     NA
19  US$507,297                                      NA     2
20  $1,285,541                                      NA     3
21  US$2,722,314                                    NA     6
22  $10,821,168                                     190 cm 14
23  US$11,912,152                                   198 cm 15
24  $898,701                                        180 cm 7
25  $184,328                                        NA     1
26  $158,269                                        NA     7
27  $87,942                                         NA     NA
28  $32,892                                         NA     1
29  $631,094                                        NA     3
30  NA                                              NA     NA
⋮   ⋮                                               ⋮      ⋮
472 $150,833                                        NA     2
473 NA                                              NA     NA
474 US$484,561                                      NA     3
475 $8,918,917                                      183 cm 16
476 $105,238                                        NA     1
477 NA                                              NA     NA
478 NA                                              NA     NA
479 $108,984                                        NA     NA
480 NA                                              NA     NA
481 $31,170                                         NA     NA
482 $310,368                                        NA     2
483 $69,581                                         NA     NA
484 $185,586                                        NA     NA
485 NA                                              NA     NA
486 US$3,304,117                                    NA     7
487 $2,013,015                                      NA     11
488 NA                                              NA     NA
489 $1,703,096                                      NA     7
490 US$414,637                                      NA     4
491 $12,756                                         NA     2
492 US$1,048,314                                    NA     7
493 US$ 132,871                                     NA     8
494 $178,317                                        NA     5
495 $354,975                                        NA     3
496 $40,724                                         NA     1
497 $57,943                                         NA     NA
498 $22,132,368 15th all-time leader in earnings    185 cm 10
499 NA                                              NA     NA
500 NA                                              NA     NA
501 $61,984                                         NA     2