In [6]:
library(repr)
library(tidyverse)
library(tidymodels)
library(readxl)
library(janitor)

In [14]:
tennis_data <- read_csv("Data/player_stats.csv", skip = 1)

tennis_df <- tennis_data |>
    clean_names() |>
    select(age, current_rank, prize_money, height, seasons) |>
    separate(col = height, 
            into = c("height_cm", "discard"), 
           sep = " ") |>
    separate(col = current_rank, 
            into = c("rank", "discard_1"), 
           sep = " ") |>
    separate(col = age, 
            into = c("age", "discard_2"), 
           sep = " ") |>
    select(-discard_2, -discard_1, -discard) |>
    mutate(age = as.numeric(age),
           rank = as.numeric(rank),
           height_cm = as.numeric(height_cm))

means <- tennis_df |>
            select(age:seasons) |>
            map_dfr(mean, na.rm = TRUE)

tennis_df <- tennis_df |>
                replace_na(list(age = 25.96794, 
                                prize_money = 3416440, 
                                height_cm = 185.7913, 
                                seasons = 6.494652)) |>
    arrange(rank)
    
tennis_df_rank <- tennis_df |>
    select(rank)

rank_quantile <- quantile(tennis_df_rank, probs = c(0.25, 0.5, 0.75), na.rm = TRUE)


rank_quantile
means
tennis_df

New names:
• `` -> `...1`
Rows: 500 Columns: 38
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (24): Age, Country, Plays, Wikipedia, Current Rank, Best Rank, Name, Bac...
dbl (14): ...1, Prize Money, Turned Pro, Seasons, Titles, Best Season, Retir...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  25%   50%   75%
125.5 249.0 372.5

  age      rank     prize_money height_cm seasons
1 25.96794 249.0283 3416440     185.7913  6.494652

    age      rank prize_money height_cm seasons
1   33        1   119601561   185.0000  19
2   32        2   139144944   188.0000  17
3   38        3   129231891   185.0000  22
4   23        4    10507693   185.7913   5
5   26        5    22132368   185.0000  10
6   21        6    10425605   185.7913   4
7   22        7    20028563   198.0000   8
8   23        8     3580862   185.7913   3
9   31        9    12067808   183.0000  11
10  33       10    17930816   193.0000  17
11  29       11    13578010   163.0000  10
12  32       12    13470614   178.0000  16
13  20       13     4535961   185.7913   5
14  27       14     7217264   170.0000   8
15  34       15    33790279   183.0000  18
16  22       16     4442257   185.7913   7
17  23       17     7630617   185.7913   8
18  30       18    23846631   178.0000  13
19  34       19    18669906   206.0000  14
20  28       20    18020217   188.0000  13
21  30       21     7774890   196.0000  11
22  19       22     1893476   185.7913   3
23  20       23     3466298   185.7913   4
24  25       24     7487708   185.0000   7
25  29       25     4292576   185.0000   9
26  24       26     8001478   193.0000   8
27  29       27     4850190   180.0000  11
28  23       28     7163918   185.7913   8
29  27       29     4271703   185.0000   7
30  28       30     8892564   188.0000   9
⋮   ⋮        ⋮    ⋮           ⋮         ⋮
471 21.00000 473  3416440     185.7913  6.494652
472 27.00000 474  3416440     185.7913  6.494652
473 23.00000 475  3416440     185.7913  6.494652
474 21.00000 476  3416440     185.7913  6.494652
475 22.00000 477    25352     185.7913  6.494652
476 29.00000 478   108018     185.7913  1.000000
477 19.00000 479  3416440     185.7913  6.494652
478 27.00000 480  3416440     185.7913  6.494652
479 29.00000 481    65390     185.7913  1.000000
480 25.00000 482  3416440     185.7913  6.494652
481 23.00000 483  3416440     185.7913  6.494652
482 21.00000 485  3416440     185.7913  6.494652
483 25.00000 486  3416440     185.7913  6.494652
484 26.00000 487    99816     185.7913  3.000000
485 28.00000 488    51479     185.7913  6.494652
486 22.00000 489    23875     185.7913  2.000000
487 27.00000 490   210006     185.7913  1.000000
488 24.00000 491    22560     185.7913  4.000000
489 20.00000 492    14811     185.7913  1.000000
490 24.00000 493  3416440     185.7913  6.494652
491 23.00000 494    33471     185.7913  3.000000
492 23.00000 495  3416440     185.7913  6.494652
493 21.00000 498    27950     185.7913  6.494652
494 20.00000 499    82547     185.7913  1.000000
495 23.00000 500   129874     185.7913  6.494652
496 29.00000  NA    78745     185.7913  1.000000
497 21.00000  NA  3416440     185.7913  6.494652
498 27.00000  NA  3416440     185.7913  6.494652
499 25.96794  NA  3416440     185.7913  6.494652
500 28.00000  NA  3416440     185.7913  6.494652