In [6]:
library(repr)
library(tidyverse)
library(tidymodels)
library(readxl)
library(janitor)

In [30]:
tennis_data <- read_csv("Data/player_stats.csv", skip = 1)

tennis_df <- tennis_data |>
    clean_names() |>
    select(age, current_rank, prize_money, height, seasons) |>
    separate(col = height, 
            into = c("height_cm", "discard"), 
           sep = " ") |>
    separate(col = current_rank, 
            into = c("rank", "discard_1"), 
           sep = " ") |>
    separate(col = age, 
            into = c("age", "discard_2"), 
           sep = " ") |>
    select(-discard_2, -discard_1, -discard) |>
    mutate(age = as.numeric(age),
           rank = as.numeric(rank),
           height_cm = as.numeric(height_cm))

means <- tennis_df |>
            select(age:seasons) |>
            map_dfr(mean, na.rm = TRUE)
means

tennis_df <- tennis_df |>
                replace_na(list(age = 25.96794, 
                                prize_money = 3416440, 
                                height_cm = 185.7913, 
                                seasons = 6.494652)) |>
    arrange(rank)
    


rank_quantile <- tennis_df |>
    select(rank) |>
    quantile(probs = c(0.25, 0.5, 0.75), na.rm = TRUE)
rank_quantile

category_columns <- tennis_df |>
    mutate(category_1 = rank < 125.5) |>
    mutate(category_2 = 125.5 < rank & rank < 249) |>
    mutate(category_3 = 249 < rank & rank < 372.5) |>
    mutate(category_4 = 372.5 < rank) 


tennis_df_longer <- category_columns |> 
    pivot_longer(cols = category_1:category_4, 
                 names_to = "category", 
                 values_to = "status") |>
    filter(status == "TRUE") |>
    select(-status) |>
    drop_na()
tennis_df_longer
    
tennis_split <- initial_split(tennis_df_longer, prop = 0.75, strata = category)
tennis_train <- training(tennis_split)
tennis_test <- testing(tennis_split)

New names:
• `` -> `...1`
Rows: 500 Columns: 38
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (24): Age, Country, Plays, Wikipedia, Current Rank, Best Rank, Name, Bac...
dbl (14): ...1, Prize Money, Turned Pro, Seasons, Titles, Best Season, Retir...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  age      rank     prize_money height_cm seasons
1 25.96794 249.0283 3416440     185.7913  6.494652

  25%   50%   75%
125.5 249.0 372.5

    age rank prize_money height_cm seasons  category
1   33   1   119601561   185.0000  19       category_1
2   32   2   139144944   188.0000  17       category_1
3   38   3   129231891   185.0000  22       category_1
4   23   4    10507693   185.7913   5       category_1
5   26   5    22132368   185.0000  10       category_1
6   21   6    10425605   185.7913   4       category_1
7   22   7    20028563   198.0000   8       category_1
8   23   8     3580862   185.7913   3       category_1
9   31   9    12067808   183.0000  11       category_1
10  33  10    17930816   193.0000  17       category_1
11  29  11    13578010   163.0000  10       category_1
12  32  12    13470614   178.0000  16       category_1
13  20  13     4535961   185.7913   5       category_1
14  27  14     7217264   170.0000   8       category_1
15  34  15    33790279   183.0000  18       category_1
16  22  16     4442257   185.7913   7       category_1
17  23  17     7630617   185.7913   8       category_1
18  30  18    23846631   178.0000  13       category_1
19  34  19    18669906   206.0000  14       category_1
20  28  20    18020217   188.0000  13       category_1
21  30  21     7774890   196.0000  11       category_1
22  19  22     1893476   185.7913   3       category_1
23  20  23     3466298   185.7913   4       category_1
24  25  24     7487708   185.0000   7       category_1
25  29  25     4292576   185.0000   9       category_1
26  24  26     8001478   193.0000   8       category_1
27  29  27     4850190   180.0000  11       category_1
28  23  28     7163918   185.7913   8       category_1
29  27  29     4271703   185.0000   7       category_1
30  28  30     8892564   188.0000   9       category_1
⋮   ⋮   ⋮    ⋮           ⋮         ⋮        ⋮
465 23  468  3416440     185.7913  6.494652 category_4
466 27  469  3416440     185.7913  6.494652 category_4
467 31  470   271207     185.7913  3.000000 category_4
468 20  471    12533     185.7913  6.494652 category_4
469 24  472    51486     185.7913  6.494652 category_4
470 21  473  3416440     185.7913  6.494652 category_4
471 27  474  3416440     185.7913  6.494652 category_4
472 23  475  3416440     185.7913  6.494652 category_4
473 21  476  3416440     185.7913  6.494652 category_4
474 22  477    25352     185.7913  6.494652 category_4
475 29  478   108018     185.7913  1.000000 category_4
476 19  479  3416440     185.7913  6.494652 category_4
477 27  480  3416440     185.7913  6.494652 category_4
478 29  481    65390     185.7913  1.000000 category_4
479 25  482  3416440     185.7913  6.494652 category_4
480 23  483  3416440     185.7913  6.494652 category_4
481 21  485  3416440     185.7913  6.494652 category_4
482 25  486  3416440     185.7913  6.494652 category_4
483 26  487    99816     185.7913  3.000000 category_4
484 28  488    51479     185.7913  6.494652 category_4
485 22  489    23875     185.7913  2.000000 category_4
486 27  490   210006     185.7913  1.000000 category_4
487 24  491    22560     185.7913  4.000000 category_4
488 20  492    14811     185.7913  1.000000 category_4
489 24  493  3416440     185.7913  6.494652 category_4
490 23  494    33471     185.7913  3.000000 category_4
491 23  495  3416440     185.7913  6.494652 category_4
492 21  498    27950     185.7913  6.494652 category_4
493 20  499    82547     185.7913  1.000000 category_4
494 23  500   129874     185.7913  6.494652 category_4