Title: Predicting tennis player rank categories based on the number of seasons active, prize money won, age, and height.

Background information:
Tennis rankings are determined based on the number of points a player has. Points are acquired by playing in tournaments. Winning higher-status tournaments, such as a Grand Slam, results in more points gained (2000). Winning tournaments also lets players earn prize money, where like points, winning a higher-status tournament gives more prize money. Higher-ranking players are therefore more likely to have earned more prize money. Additionally, players who have competed in more seasons have had more opportunities to win tournaments, possibly indicating that they have a higher ranking



Question: 
The question we will be exploring in this project is: Can we use known player statistics (number of seasons active, prize money, age, and height) of the top 500 players to predict which category rank a future player will reside i? 

To answer this question we will be using the “Player Stats for the Top 500 Players” data frame whi ch provides statistics on each top player such as age, height, number of seasons active, and current ra


Variables:

We will be using the number of seasons a player has played in, how much prize money they've won, the age of the player, and the height of the player.


ayer
nk.
.

In [1]:
library(repr)
library(tidyverse)
library(tidymodels)
library(readxl)
library(janitor)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.3     ✔ readr     2.1.4
✔ forcats   1.0.0     ✔ stringr   1.5.0
✔ ggplot2   3.4.4     ✔ tibble    3.2.1
✔ lubridate 1.9.3     ✔ tidyr     1.3.0
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors
── Attaching packages ────────────────────────────────────── tidymodels 1.1.1 ──

✔ broom        1.0.5     ✔ rsample      1.2.0
✔ dials        1.2.0     ✔ tune         1.1.2
✔ infer        1.0.5     ✔ workflows    1.1.3
✔ modeldata    1.2.0     ✔ workflowsets 1.0.1
✔ parsnip      1.1.1     ✔ yardstick    1.2.0
✔ recipes      1.0.8

── Conflicts ───────────────────────────────────────── tidymodels_conflicts() ──
✖ scales::discard() masks purrr::discard()
✖ dplyr::filter()   masks stats::filter()
✖ recipes::fixed()  masks stringr::fixed()
✖ dplyr::lag()      masks stats::lag()
✖ yardstick::spec() masks readr::spec()
✖ recipes::step()   masks stats::step()
• Search for functions across packages at https://www.tidymodels.org/find/


Attaching package: ‘janitor’


The following objects are masked from ‘package:stats’:

    chisq.test, fisher.test

In [25]:
tennis_data <- read_csv("Data/player_stats.csv", skip = 1)

tennis_df <- tennis_data |>
    clean_names() |>
    select(age, current_rank, prize_money, height, seasons) |>
    separate(col = height, 
            into = c("height_cm", "discard"), 
           sep = " ") |>
    separate(col = current_rank, 
            into = c("rank", "discard_1"), 
           sep = " ") |>
    separate(col = age, 
            into = c("age", "discard_2"), 
           sep = " ") |>
    select(-discard_2, -discard_1, -discard) |>
    mutate(age = as.numeric(age),
           rank = as.numeric(rank),
           height_cm = as.numeric(height_cm))

means <- tennis_df |>
            select(age, prize_money:seasons) |>
            map_dfr(mean, na.rm = TRUE)

means
tennis_df

New names:
• `` -> `...1`
Rows: 500 Columns: 38
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (24): Age, Country, Plays, Wikipedia, Current Rank, Best Rank, Name, Bac...
dbl (14): ...1, Prize Money, Turned Pro, Seasons, Titles, Best Season, Retir...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  age      prize_money height_cm seasons
1 25.96794 3416440     185.7913  6.494652

    age rank prize_money height_cm seasons
1   26  378        NA     NA       NA
2   18  326     59040     NA       NA
3   32  178   3261567    185       14
4   21  236    374093     NA        2
5   27  183   6091971    193       11
6   22   31   1517157     NA        5
7   28  307    278709     NA        1
8   21  232     59123     NA        1
9   25  417    122734     NA        5
10  20  104     74927     NA        3
11  19   22   1893476     NA        3
12  23    4  10507693     NA        5
13  28  148    303458     NA        8
14  23  431     54004     NA       NA
15  28  134    439427     NA        5
16  31  121  25889586    198       14
17  24  375        NA     NA       NA
18  22  133    507297     NA        2
19  20   54   1285541     NA        3
20  22   34   2722314     NA        6
21  33  130  10821168    190       14
22  32   45  11912152    198       15
23  30  105    898701    180        7
24  30  172    184328     NA        1
25  30  293    158269     NA        7
26  22  339     87942     NA       NA
27  26  448     32892     NA        1
28  30  123    631094     NA        3
29  21  388        NA     NA       NA
30  32   12  13470614    178       16
⋮   ⋮   ⋮    ⋮           ⋮         ⋮
471 23  210    150833     NA        2
472 24  493        NA     NA       NA
473 28  167    484561     NA        3
474 34  179   8918917    183       16
475 26  298    105238     NA        1
476 21  485        NA     NA       NA
477 25  353        NA     NA       NA
478 24  289    108984     NA       NA
479 25  486        NA     NA       NA
480 18  360     31170     NA       NA
481 27  207    310368     NA        2
482 23  365     69581     NA       NA
483 29  351    185586     NA       NA
484 26  334        NA     NA       NA
485 22   50   3304117     NA        7
486 32  260   2013015     NA       11
487 23  429        NA     NA       NA
488 24   71   1703096     NA        7
489 24  103    414637     NA        4
490 18  299     12756     NA        2
491 28  292   1048314     NA        7
492 26  324    132871     NA        8
493 31  310    178317     NA        5
494 32  416    354975     NA        3
495 20  397     40724     NA        1
496 20  382     57943     NA       NA
497 26    5  22132368    185       10
498 23  495        NA     NA       NA
499 24  419        NA     NA       NA
500 22  451     61984     NA        2